/*

SAMPLE CONFIG BELOW.
Make sure these paths are relative to the Vagrant machine,
not to your actual computer's filesystem.

const config = {
  inDir: 'in/',
  outDir: 'out/',
  printDir: 'out-print/',
  photostripDir: 'out-photostrips/',
  processing_port: 8081,
  display_port: 8080,
  api_key: '',
  redis: {
    host: '127.0.0.1', // default redis host
    port: 6379, // default redis port
  },
};

module.exports = config;

*/
